<h1>Nav Bar</h1>
<form action="/user/cart" method="get">
    <button type="submit">View Cart</button>
</form>
<form action="/user/order_history" method="get">
    <button type="submit">View order history</button>
</form>
