<h1>Seller login</h1>
<% if (messages.error) { %>
<div class="alert alert-danger"><%= messages.error %></div>
<% } %>

<form action="/seller/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" />
  <button type="submit">Login</button>
</form>
