<body>
  <div class="content">
    <h1>Event ticketing done right</h1>
    <h2>
      Creating awesome events and selling tickets online just got a whole lot
      easier.
    </h2>
    <a href="/user/login" class="btn btn-primary mx-2">Login</a>
    <a href="/org/login" class="btn btn-success mx-2">Login Org</a>
  </div>
</body>
