<h1>Login Page</h1>

<!-- Inside your login.ejs or a similar view -->
<% if (messages.error) { %>
<div class="alert alert-danger"><%= messages.error %></div>
<% } %>

<h1>User Login</h1>
<form action="/user//login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />
  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
  <br />

  <button type="submit">Login</button>
</form>
