<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <% if(categories != null){ %> <% categories.forEach(category => { %>
      <div>
        <a href="user/category/<%= category.categoryID %>">
          <div><%= category.name %></div>
         <div><%= category.description %></div> 
        </a>
      </div>
      <% }) %> <% } else { %>
      <div>Cant Show categories rightnow</div>
      <% } %>
    </div>
  </body>
</html>
