<h1>Profile of user</h1>

<% if (req.method === 'POST') { %>
<form action="/customer/profile" method="post">
  <!-- Display current customer information -->
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    name="name"
    value="<%= customer.name %>"
    required
  />
  <!-- Username/Name: Display the user's username or full name.
Contact Information: Show the user's contact details, such as email address and phone number. -->

  <!-- Add more fields for other customer information -->

  <!-- Password change (optional) -->
  <label for="password">New Password:</label>
  <input type="password" id="password" name="password" />

  <button type="submit">Update Profile</button>
</form>
<% } %>
