<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% if(items!=null){%>
        <ol>
            <% items.forEach(item => { %>
                <li class="list-item">
                   <span><%=item.itemName%></span><br>
                   <span><%=item.price%></span><br>
                   <form action="/user/shop/add_to_cart" method="POST">
                    <input type="hidden" name="itemId" value="<%=item.itemId%>">
                    <input type="hidden" name="sellerId" value="<%=item.sellerId%>">
                    <button type="submit">Add to cart</button>
                   </form>
                           
                  </li>
              <% }) %>
        </ol>
    
        <% }else{ %>
            <div>No item available</div>
        <% }%>    
    </div>
  <script>
    if(success==true){
        alert("Item added");

    }
    else{
        alert("Error adding item");
    }
  </script>  
</body>
</html>