<style>
  .abc {
    background-color: rgb(116, 196, 196);
    color: white;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 shadow p-3 mb-5 abc rounded">
      <h1 class="text-center">Seller Login</h1>

      <!-- Error message display -->
      <% if (messages.error) { %>
      <div class="alert alert-danger" role="alert"><%= messages.error %></div>
      <% } %>

      <form action="/org/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>

        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>
