<h1>Add item</h1>

<form action="/seller/items/add" method="POST">
  <label for="itemName">Item Name:</label>
  <input type="text" id="itemName" name="itemName" />
  <label for="price">Price:</label>
  <input type="text" id="price" name="price" />
  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="beverage">Beverage</option>
    <option value="Appetizer">Appetizer and Snack</option>
    <option value="maincourse">Main Course</option>
  </select>
  <label for="sellerid">Seller ID:</label>
  <input type="text" id="sellerid" name="sellerId" />

  <button type="submit">Add Item</button>
</form>
