<h1>delete item</h1>

<form
  action="/seller/items/delete/<%= item.itemId %>"
  method="POST"
  id="deleteForm"
>
  <!-- Include any necessary hidden fields or confirmation messages here -->
  <button type="submit">Delete</button>
</form>
